.stateinputField {
    margin-bottom: 8px;
}

.submitButton {
    border-radius: 0;
    text-transform: uppercase;
}

.invalidAddress {
    color: red;
    font-size: 14px;
    margin: 10px 0 30px;
}

.addressHeading {
    font-family: Playfair Display;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 44px;
    letter-spacing: 0.2px;
    color: #4A4A4F;
    margin-top: 0;
    padding: 0;
    margin-bottom: 30px;
    @media(max-width: 768px) {
      margin-top: 40px;
    }
}

.inputBox {
    margin-bottom: 24px
}