.mainContainer {
    & .workContent {
        max-width: 1228px;
        margin: 0 auto;
        padding: 50px 24px 60px;

        & .workHeader {
            text-align: center;

            & .workText {
                & .smallText {
                    font-family: DM Sans;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    leading-trim: NONE;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: #222;
                    padding: 5px 20px;
                    border-radius: 50px;
                    background-color: #E9E9E9;
                }
            }

            & .howWorkText {
                font-family: Playfair Display;
                font-weight: 400;
                font-size: 60px;
                line-height: 70px;
                letter-spacing: 0.44px;
                text-align: center;
                color: #000000;
                margin: 20px 0;

                @media(max-width: 920px) {
                    font-size: 48px;
                    line-height: 58px;
                }

                @media(max-width: 768px) {
                    font-size: 42px;
                    line-height: 52px;
                }
            }

            & .workSubText {
                color: #4D4D4D;
                font-family: DM Sans;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 24px;
                letter-spacing: 0.1px;
                text-align: center;

            }
        }
    }
}





.workListContent {
    margin-top: 70px;

    @media(max-width: 600px) {
        margin-top: 20px;
    }

    & .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 40px 0;

        @media(max-width: 768px) {
            gap: 40px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            background-color: #E5E5E5;
            transform: translateX(-50%);

            @media(max-width: 1220px) {
                display: none;
            }
        }

        &::after {
            width: 16px;
            content: "";
            height: 16px;
            background-color: #000;
            bottom: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 50%;

            @media(max-width: 1220px) {
                display: none;
            }
        }

        & .step {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            gap: 20px;

            @media(max-width: 600px) {
                padding-bottom: 30px;
                flex-direction: column !important;
                border-bottom: 1px solid #4D4D4D;
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                @media(max-width: 1220px) {
                    flex-direction: row;
                }
            }

            & .imageWrapper {
                & img {
                    z-index: 0;
                    width: 320px;
                    height: 350px;
                    display: block;
                    object-fit: contain;
                    position: relative;

                    @media(max-width: 1220px) {
                        margin-left: auto;
                    }

                    @media(max-width: 768px) {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            & .textWrapper {
                display: flex;
                flex-direction: column;

                & .stepNumber {
                    background-color: #000;
                    color: white;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: DM Sans;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.2px;
                    border-radius: 50%;

                    @media(max-width: 768px) {
                        width: 35px;
                        height: 35px;
                        font-size: 20px;
                        line-height: 28px;
                    }
                }

                & .stepTitle {
                    font-size: 24px;
                    font-weight: 600;
                    color: #222222;
                    line-height: 32px;
                    margin: 24px 0 10px;
                    font-family: DM Sans;
                    letter-spacing: 0.1px;
                }

                & .stepDescription {
                    font-size: 16px;
                    font-weight: 400;
                    padding: 0;
                    margin: 0;
                    color: #4D4D4D;
                    line-height: 24px;
                    font-family: DM Sans;
                    letter-spacing: 0.1px;
                    white-space: pre-wrap;

                    @media(max-width: 1220px) {
                        white-space: normal;
                    }
                }

                & .highlight {
                    padding: 0;
                    font-size: 16px;
                    color: #4D4D4D;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 0;
                    line-height: 24px;
                    font-family: DM Sans;
                    letter-spacing: 0.1px;
                }
            }

            & .leftStep {
                text-align: left;
            }

            & .rightStep {
                text-align: right;
                align-items: flex-end;

                @media(max-width: 1220px) {
                    text-align: left;
                    align-items: flex-start;
                }

                & img {
                    z-index: 1;
                    margin-left: auto;
                }
            }
        }
    }
}

.imageWrapper,
.textWrapper {
    width: 45%;

    @media(max-width: 1220px) {
        width: 100%;
    }
}

.imageWrapper.leftStep {
    position: relative;

    &::before {
        top: 50%;
        z-index: 0;
        content: "";
        left: -74px;
        width: 200px;
        height: 30px;
        position: absolute;
        background-position: left;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22143%22%20height%3D%2230%22%20viewBox%3D%220%200%20143%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cline%20x1%3D%2225%22%20y1%3D%2216%22%20x2%3D%22143%22%20y2%3D%2216%22%20stroke%3D%22%23E5E5E5%22%20stroke-width%3D%222%22%2F%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23eee%22%2F%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%224%22%20fill%3D%22%23222%22%2F%3E%3C%2Fsvg%3E');

        @media(max-width: 1220px) {
            display: none;
        }
    }
}

.imageWrapper.rightStep {
    position: relative;

    &::after {
        top: 50%;
        z-index: 0;
        content: "";
        right: -74px;
        width: 200px;
        height: 30px;
        position: absolute;
        background-position: right;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22145%22%20height%3D%2230%22%20viewBox%3D%220%200%20145%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cline%20y1%3D%2216%22%20x2%3D%22118%22%20y2%3D%2216%22%20stroke%3D%22%23E5E5E5%22%20stroke-width%3D%222%22%2F%3E%3Ccircle%20cx%3D%22130%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23eee%22%2F%3E%3Ccircle%20cx%3D%22130%22%20cy%3D%2215%22%20r%3D%224%22%20fill%3D%22%23222%22%2F%3E%3C%2Fsvg%3E');

        @media(max-width: 1220px) {
            display: none;
        }
    }
}

.readyToJoin {
    margin-top: 70px;
    text-align: center;

    @media(max-width: 1220px) {
        margin-top: 10px;
    }

    & .joinTitle {
        font-size: 40px;
        font-weight: 400;
        color: #000000;
        line-height: 50px;
        margin-bottom: 30px;
        letter-spacing: 0.44px;
        font-family: Playfair Display;

        @media(max-width: 920px) {
            font-size: 32px;
            line-height: 40px;
        }
    }

    & .signupRent {
        color: #fff;
        margin: 0 auto;
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        width: fit-content;
        padding: 14px 60px;
        font-family: DM Sans;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        border: 1px solid #000;
        background-color: #000;

        &:hover {
            text-decoration: none;
            border: 1px solid #4b4a49;
            background-color: #4b4a49;
        }

        @media(max-width: 768px) {
            padding: 12px 20px;
        }
    }
}