.tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 54px;
  border-bottom: 1px solid #e5e5e5;
  &::-webkit-scrollbar {
    width: 0;
  }
  & > div {
    min-width: fit-content;
  }
}
