.tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 54px;
  border-bottom: 1px solid #e5e5e5;

  @media (max-width: 992px) {
    width: calc(100vw - 48px);
    overflow-x: auto;
    gap: 2rem;
    &::-webkit-scrollbar {
      width: 10px;
    }
  }

  /* @media (max-width: 600px) {
    width: calc(100vw - 24px);
  } */

  & > div {
    min-width: fit-content;
  }
}
