@import '../../../styles/customMediaQueries.css';

.root {}

.newPasswordSection {
  margin-top: 40px;
  margin-bottom: 46px;
}

.confirmChangesSection {
  /* flex-grow: 1;
  display: flex;
  flex-direction: column; */
  margin-bottom: 60px;
  padding: 0;
  opacity: 0;
}

.confirmChangesSectionVisible {
  opacity: 1;
}

.confirmChangesTitle {
  font-family: var(--dmSansFamily);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--CharcoalGrey);
}

.confirmChangesInfo {
  margin-top: 0;
  margin-bottom: 37px;

  @media (--viewportMedium) {
    margin-bottom: 40px;
  }
}

.bottomWrapper {
  margin-top: 40px;

  & button {
    font-size: 16px;
    margin-top: 60px;
    font-weight: 600;
    border-radius: 0;
    line-height: 24px;
    margin-bottom: 56px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-family: var(--dmSansFamily);
  }
}

.error {
  composes: h4 from global;
  color: var(--colorFail);
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 24px 0;

  @media (--viewportMedium) {
    margin: 24px 0;
  }
}

.helperLink {
  composes: a from global;
  color: var(--colorGrey700);
  font-weight: var(--fontWeightMedium);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.emailStyle {
  font-weight: var(--fontWeightBold);
  word-wrap: break-word;
}
