@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  padding-top: 24px;
  padding-bottom: 17px;
  border-bottom: 1px solid #2222221a;
  border-top: 1px solid #2222221a;

  @media (--viewportMedium) {
    /* padding-top: 16px;
    padding-bottom: 0;
    border-bottom: 0; */
  }
}

.filterHeader {
  line-height: 24px;
}

.labelWrapper {
  display: inline-block;
  max-width: calc(100% - 16px);
}

.label,
.labelSelected {
  /* composes: marketplaceSmallFontStyles from global;
  font-weight: var(--fontWeightBold);

  margin-top: 0;
  margin-bottom: 12px;
  padding: 4px 0 2px 0;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 8px;
  } */
}

.label {
  color: var(--darkJungle);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  font-family: var(--dmSansFamily);
}

.labelSelected {
  color: var(--marketplaceColor);
  white-space: nowrap;
}

.labelButton {
  /* Override button styles */
  outline: none;
  line-height: 24px;
  text-align: left;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
}

.labelButtonContent {
  display: inline-block;
  width: 100%;

  &:hover {
    color: var(--marketplaceColor);

    & * {
      color: var(--marketplaceColor);
      stroke: var(--marketplaceColor);
    }
  }
}

.openSign {
  float: right;
}

.formWrapper {
  padding-left: 0;
}

.clearButton {
  margin: 0;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--desertSand);
  font-family: var(--dmSansFamily);
  text-decoration: underline;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
