@import '../../../styles/customMediaQueries.css';

.root {
  display: block;
  height: auto;
  flex: unset;
  composes: marketplaceModalFormRootStyles from global;
}

.email {
  margin-top: 40px;

  @media (--viewportMedium) {
    /* margin-top: 38px; */
  }
}

.bottomWrapper {
  margin-top: 60px;
  composes: marketplaceModalBottomWrapper from global;
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
  composes: marketplaceModalBottomWrapperText from global;
}

/* Helper links */
.modalHelperLink {
  composes: marketplaceModalHelperLink from global;
}

/* Helper texts for the links, not the actual links */
.modalHelperText {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--frenchGrey);
  font-family: var(--dmSansFamily);
  & a {
    color: var(--CharcoalGrey);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0px;
    font-family: var(--dmSansFamily);
  }
}

.submitButton {
  text-transform: uppercase;
  font-family: var(--dmSansFamily);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  min-height: 52px;
  border-radius: 0;
  background-color: var(--desertSand);
}
